# Copy to .env.test before running docker compose
# cp .env.test.example .env.test
TEST_REDIS_PORT=6399
TEST_REDIS_PASSWORD=changeme
TEST_PG_PORT=5499
TEST_PG_DATABASE=dicom_viewer_test
TEST_PG_USER=test_user
TEST_PG_PASSWORD=changeme
